h1 {
    font-size: 12pt;
}
h2 {
    font-size: 10pt;
}

.tableTimetable,
.tableTimetable>tbody>tr,
.tableTimetable>tbody>tr>td {
    border-collapse: collapse;
    border: 1px solid lightgray;
    padding: 2px;
}
